.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carouselTrack {
  display: flex;
  gap: 2.4rem;
  cursor: grab;
  overflow-x: auto;
  scroll-behavior: smooth;
  touch-action: pan-y; /* 수직 스크롤 방해 방지 */
  user-select: none;
}

.carouselTrack::-webkit-scrollbar {
  display: none;
}
