.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carouselTrack {
  display: flex;
  gap: 16px;
  cursor: grab;
  overflow-x: auto;
  scroll-behavior: smooth;
  touch-action: pan-y; /* 수직 스크롤 방해 방지 */
  user-select: none;
}

.carouselTrack::-webkit-scrollbar {
  display: none;
}

.slide {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #ddd;
  width: 300px;
  height: 200px;
  font-size: 24px;
}
