@use '@/styles/mixins.scss' as mixins;

.img {
  border-radius: var(--border-radius-basic);
  width: 100%;
  height: 100%;
  @include mixins.skeleton;
}

.info {
  h3,
  li {
    border-radius: var(--border-radius-small);
    height: var(--font-size-basic);
    @include mixins.skeleton;
  }

  h3 {
    width: 10rem;
  }
  li:nth-child(1) {
    width: 12rem;
  }
  li:nth-child(2) {
    width: 16rem;
  }
}
