@use '@/components/search/Searchbar/_variable' as vars;

.dropdownMenu {
  position: absolute;
  top: calc(100% + 0.4rem);
  left: calc(vars.$searchbar__padding-horizon - 0.8rem);
  transition: display 1s ease-in-out;
  border: 0.1rem solid var(--color-gray500);
  border-radius: var(--border-radius-basic);
  background-color: var(--color-white);
  padding: 0.8rem 1.4rem;
  list-style: none;
}
