@use '@/styles/mixins' as mixins;

$img__width-basic: 10rem;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: $img__width-basic;
}

.cover {
  width: $img__width-basic;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.title,
.author {
  width: 100%;
  font-size: var(--font-size-small);
  @include mixins.ellipsis-line-clamp(2);
}

.title {
  font-weight: var(--font-weight-semi-bold);
}

.bookInfoSkeleton {
  & > div {
    @include mixins.skeleton;
    width: 6rem;
    height: var(--font-size-small);
  }
  & > div:first-child {
    width: 8rem;
  }
}
