.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  color: var(--color-gray500);
}

.imageWrapper {
  position: relative;
  aspect-ratio: 3/4;
  width: 12rem;
  & > img {
    border-radius: var(--border-radius-basic);
  }
}
