@use '@/styles/mixins' as mixins;

.bookOverview {
  margin-top: 2rem;
  padding: 0 var(--layout-padding-horizontal);
}

.bookTitle {
  margin-bottom: 2rem;
}

.bookOverview {
  border-bottom: 0.8rem solid var(--color-gray100);
  padding-bottom: 1.6rem;

  li:first-child {
    font-weight: var(--font-weight-semi-bold);
  }

  li + li {
    margin-top: 0.4rem;
    color: var(--color-gray500);
  }

  li:last-child {
    font-size: var(--font-size-small);
  }
}

.titleSkeleton {
  border-radius: var(--border-radius-small);
  width: 16rem;
  height: var(--font-size-h1);
  @include mixins.skeleton;
}

.bookSummarySkeleton {
  li {
    border-radius: var(--border-radius-small);
    width: 8rem;
    height: var(--font-size-basic);
    @include mixins.skeleton;
  }

  li:first-child {
    width: 12rem;
  }

  li:last-child {
    height: var(--font-size-small);
  }
}
