@use '@/styles/mixins.scss' as mixins;
@use '@/components/book/BookItem/_variables.scss' as variables;

.imgWrapper {
  position: relative;

  & > img {
    border-radius: var(--book-cover-border-radius);
    aspect-ratio: 2/3;
    width: inherit;
    height: 100%;
  }
}

.imgSkeleton {
  border-radius: var(--book-cover-border-radius);
  width: 100%;
  height: 100%;

  @include mixins.skeleton;
}
