.item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.imgWrapper {
  aspect-ratio: 2/3;
  width: 8rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  p:not(:first-child) {
    height: calc(var(--font-size-small) + 1rem);
    font-size: var(--font-size-small);
  }
}

.bookTitle {
  margin-bottom: 0.4rem;
  height: calc(var(--font-size-h3) + 1rem);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h3);
}

.publication {
  color: var(--color-gray500);
}
