.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: var(--border-radius-basic);
  background-color: var(--color-gray100);
  padding: 2rem;
  width: 100%;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-gray500);
}
