@use '@/styles/mixins.scss' as mixins;

.img {
  border-radius: var(--border-radius-basic);
  width: 100%;
  height: 100%;
  @include mixins.skeleton;
}

.info {
  h3,
  li {
    border-radius: var(--border-radius-small);
    @include mixins.skeleton;
  }

  h3 {
    width: 10rem;
  }
  li:nth-child(1) {
    margin: 0.5rem 0;
    width: 15rem;
  }
  li:nth-child(2) {
    width: 20rem;
  }
}
