@use 'mixins' as mixins;

html {
  font-size: 62.5%; /*NOTE: 1rem = 10px을 위한 트릭*/
}

body {
  box-sizing: border-box;
  background-color: var(--color-gray100);
  width: 100%;
  font-size: var(--font-size-basic);
  font-family: var(--font-pretendard);
  word-break: keep-all;
}

#root {
  position: relative;
  -webkit-box-shadow: 0px 0px 21px 5px rgba(118, 118, 118, 0.27);
  box-shadow: 0px 0px 21px 5px rgba(118, 118, 118, 0.27);
  background-color: var(--color-white);
  padding-top: var(--topbar-height);
  padding-bottom: var(--footer-height);
  min-height: 100vh;

  @include mixins.responsive-layout-width;
}

main {
  padding: 10 10 0 10;
}

.sr-only {
  position: fixed;
  top: -9999px;
  left: -9999px;
}

input {
  outline: none;
  border: 1px solid transparent;
}
