@mixin responsive-layout-width {
  margin: 0;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    width: var(--root-max-width);
  }
}

@mixin responsive-fixed-layout {
  position: fixed;
  top: 0;
  left: 0;
  @include responsive-layout-width;
  @media screen and (min-width: 768) {
    left: calc((100% - var(--root-max-width)) / 2);
    margin: 0;
  }
}
