:root {
  --color-white: #ffff;
  --color-primary: #ffc300;
  --color-gray500: #797979;
  --color-gray200: #d0d0d0;
  --color-gray100: #f6f6f6;
  --color-placeHolder: #b3b3b3;
  --font-size-basic: 1.6rem;
  --font-size-small: 1.4rem;
  --topbar-height: 6.4rem;
  --footer-height: 5.4rem;
  --border-radius-basic: 1rem;
}
