:root {
  --color-black: #000000;
  --color-white: #ffff;
  --color-primary: #ffc300;
  --color-gray500: #797979;
  --color-gray200: #d0d0d0;
  --color-gray150: #e2e2e2;
  --color-gray100: #f6f6f6;
  --color-placeHolder: #b3b3b3;
  --color-warning: #ff8260;
  --font-size-h1: 2.4rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.8rem;
  --font-size-basic: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-xsmall: 1.2rem;
  --font-weight-semi-bold: 600;
  --topbar-height: 6.4rem;
  --topbar-z-index: 100;
  --layout-padding-horizontal: 3rem;
  --layout-padding-horizontal-small-device: 2rem;
  --portal-z-index: 999;
  --footer-height: 5.4rem;
  --border-radius-basic: 1.2rem;
  --border-radius-small: 1rem;
  --book-cover-border-radius: 0.4rem;
  --root-max-width: 76.8rem;
}
