@use '@/styles/mixins' as mixins;

.message {
  margin: 2.4rem 0;
  width: 100%;
  font-size: var(--font-size-h3);
  text-align: center;

  @include mixins.word-break;

  @media screen and (max-width: 425px) {
    font-size: var(--font-size-basic);
  }
}
