@use '@/styles/mixins' as mixins;

@mixin header {
  margin: 1rem 0;
}

@mixin description-skeleton {
  border-radius: var(--border-radius-small);
  @include mixins.skeleton;
}

.bookDescription {
  margin-top: 2rem;
  padding: 0 var(--layout-padding-horizontal);
}

.bookDescription {
  h2,
  h3 {
    @include header;
  }
}

.bookCategory,
.bookContent,
.bookInfo {
  margin-top: 2rem;
  border-bottom: 0.1rem solid var(--color-gray100);
  padding-bottom: 1.6rem;
}

.bookContent {
  font-family: inherit;
  white-space: pre-line;
}

.bookInfo {
  table {
    border-top: 0.1rem solid var(--color-gray500);
    padding-top: 0.8rem;
    width: 100%;
  }

  th {
    font-weight: var(--font-weight-semi-bold);
    text-align: left;
  }
}

.h2Skeleton,
.h3Skeleton {
  @include header;
}

.h2Skeleton,
.h3Skeleton,
.categorySkeleton,
.contentSkeleton p {
  @include description-skeleton;
}

.h2Skeleton {
  width: 8rem;
  height: var(--font-size-h2);
}

.h3Skeleton {
  width: 10rem;
  height: var(--font-size-h3);
}

.categorySkeleton {
  width: 14rem;
  height: var(--font-size-basic);
}

.contentSkeleton {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  p {
    height: var(--font-size-basic);
  }

  p:first-child {
    width: 20rem;
  }

  p:nth-child(2) {
    width: 24rem;
  }
}
