@use '@/styles/mixins' as mixins;

.notFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  min-height: inherit;
}

.homeButton {
  width: 16rem;
  height: 4rem;
  @include mixins.primary-button;
}
