@use '@/styles/mixins.scss' as mixins;

.homeContainer {
  @include mixins.layout-padding;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}
