.toast {
  display: flex;
  position: absolute;
  top: calc(var(--topbar-height) + 0.2rem);
  right: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  opacity: 1;
  animation: fadeOut 3s forwards;
  margin: 0;
  border-radius: var(--border-radius-basic);
  background-color: var(--color-warning);
  padding: 1rem 1.6rem;

  width: fit-content;
  color: var(--color-white);
  font-weight: var(--font-weight-semi-bold);

  @keyframes fadeOut {
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    90% {
      opacity: 0.85;
    }
    100% {
      opacity: 0;
    }
  }
}
