@use './_variable' as vars;

.searchbar {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  border: 0.1rem solid var(--color-gray500);
  border-radius: 9999;
  padding: 0.8rem vars.$searchbar__padding-horizon;
  width: 30rem;
  @media screen and (max-width: 500) {
    width: 60%;
  }
}
