$categoryContainerWidth: 4rem;
$categoryContainerMargin: 0.8rem;
$searchButtonWidth: 1.7rem;
$searchButtonMargin: 0.8rem;
$padding-horizon: 1.6rem;

.searchbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0.1rem solid var(--color-gray500);
  border-radius: 9999;
  padding: 0.8rem $padding-horizon;
  width: 30rem;
  @media screen and (max-width: 500) {
    width: 50%;
  }

  input {
    border: none;
    width: calc(100% - $categoryContainerWidth - $categoryContainerMargin - $searchButtonWidth - $searchButtonMargin);
    color: var(--color-placeHolder);
  }
}
.categoryContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-right: $categoryContainerMargin;
  width: $categoryContainerWidth;
  height: 1.6rem;
}
.bar {
  color: var(--color-gray200);
  font-weight: 500;
}
.searchButton {
  margin-left: $searchButtonMargin;
  width: $searchButtonWidth;
}
