$category-container__width: 4rem;
$category-container__margin: 0.8rem;
$search-button__width: 1.7rem;
$search-button__margin: 0.8rem;
$searchbar__padding-horizon: 1.6rem;

.searchbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0.1rem solid var(--color-gray500);
  border-radius: 9999;
  padding: 0.8rem $searchbar__padding-horizon;
  width: 30rem;
  @media screen and (max-width: 500) {
    width: 50%;
  }

  input {
    width: calc(
      100% - $category-container__width - $category-container__margin - $search-button__width - $search-button__margin
    );
    color: var(--color-placeHolder);
  }
}
.categoryContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-right: $category-container__margin;
  width: $category-container__width;
  height: 1.6rem;
}
.bar {
  color: var(--color-gray200);
  font-weight: 500;
}
.searchButton {
  margin-left: $search-button__margin;
  width: $search-button__width;
}
}
