.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding: 1.6rem 0;
  width: inherit;
  height: var(--footer-height);
  color: var(--color-gray500);
  font-size: var(--font-size-small);
}

.link {
  &:hover {
    color: var(--color-primary);
  }
}
