@use '@/styles/mixins' as mixins;

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: inherit;
}

.notFoundResultWrapper {
  position: absolute;
  top: calc((100% - 20rem) / 2);
  left: 0;
  width: 100%;
}
