@use '@/styles/mixins.scss' as mixins;
@use './mixins' as carouselMixins;

.booksCarouselWrapper {
  display: flex;
  justify-content: center;
  background-color: var(--color-gray100);
  width: 100%;
  height: 20rem;

  @media screen and (max-width: 425px) {
    height: 15rem;
  }
}

.fullWidthCard {
  @include carouselMixins.fullWidthCard;
}

.cardSkeleton {
  width: 100%;
  @include mixins.skeleton;
}

.emptyBooksMessageContainer {
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  font-size: var(--font-size-small);
}
