.container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.imgWrapper {
  aspect-ratio: 2/3;
  width: 8rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.bookTitle {
  margin-bottom: 0.4rem;
  height: calc(var(--font-size-h3) + 1rem);
  font-weight: var(--font-weight-semi-bold);
}

.bookDetail {
  li {
    height: calc(var(--font-size-small) + 1rem);
    font-size: var(--font-size-small);
  }
}

.publication {
  color: var(--color-gray500);
}
