@use '@/styles/mixins.scss' as mixins;

$img__width-basic: 8rem;
$img__width-small: 7rem;
$info__gap: 0.4rem;

.container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.imgWrapper {
  position: relative;
  aspect-ratio: 2/3;
  width: $img__width-basic;

  @media screen and (max-width: 425px) {
    width: $img__width-small;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: $info__gap;
  padding-right: 1rem;
  width: calc(100% - $img__width-basic - $info__gap);

  @media screen and (max-width: 425px) {
    width: calc(100% - $img__width-small - $info__gap);
  }
}

.bookTitle {
  margin-bottom: 0.4rem;
  width: 100%;
  font-weight: var(--font-weight-semi-bold);

  @media screen and (max-width: 425px) {
    font-size: var(--font-size-basic);
  }

  @include mixins.ellipse;
}

.bookDetail {
  li {
    width: 100%;
    font-size: var(--font-size-small);

    @include mixins.ellipse;
  }
}

.publication {
  color: var(--color-gray500);
}
